fieldset {
  border: none;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before,
textarea {
  border-color: #6e8c62;
}

.margin-none {
  margin-left: 0;
  margin-right: 0;
}

textarea {
  height: 10rem;
}
