fieldset {
  border: none;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before,
textarea {
  border-color: #6e8c62;
}

.margin-none {
  margin-left: 0;
  margin-right: 0;
}

textarea {
  height: 10rem;
}

.nav-hover:hover {
  background-color: #f3f3f3;
}

.btn-ghost {
  text-decoration: underline;
}

nav {
  text-align: left;
}

.testimonials {
  border-radius: 50%;
  max-width: 80%;
  height: 220px;
}

@media screen and (min-width: 60em) {

  nav {
    text-align: right;
  }

}
